h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 4em;
    text-align: center;
    color: rgba(54, 54, 54, 0.5);
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: lightslategray;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size:1em;
}
.imagen{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagen> img{
    border: 8px solid #ccc;
    max-width: 50%;
}

strong{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

ol, ul> li{
    font: 1em sans-serif;
    color: red;
    font-style: italic;
}

#perfil{
    border: 5px solid lightslategrey;
    padding: 10px;
    text-align: justify;
    color: rgba(59, 59, 59, 0.75) ;
}